<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 映射文件路径-->
<mapper namespace="net.zyc.store.mapper.CarMapper">

    <resultMap id="CarEntityMap" type="net.zyc.store.entity.Car">
    <!--    将表的字段和类的属性不一致的字段进行匹配， 名称一致的字段可以不写-->
        <id column="cid" property="cid"></id>
        <result column="created_user" property="createdUser"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="cid">
        INSERT INTO t_cart (
            uid,pid,price,num,created_user,created_time,modified_user,modified_time
        ) VALUES (
            #{uid},#{pid},	#{price},#{num},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
        )
    </insert>
    <select id="findByUidAndPid" resultMap="CarEntityMap">
        SELECT * FROM t_cart WHERE uid=#{uid} AND pid=#{pid}
    </select>
    <update id="updateNumByCid">
        UPDATE t_cart SET
            modified_time=#{modifiedTime},modified_user=#{modifiedUser},num=#{num}
        WHERE cid=#{cid}
    </update>

    <select id="findVoByUid" resultType="net.zyc.store.vo.CartVo">
        SELECT
            cid,
            uid,
            pid,
            t_cart.price,
            t_cart.num,
            t_product.title,
            t_product.image,
            t_product.price AS realPrice
        FROM
            t_cart LEFT JOIN t_product ON t_cart.pid=t_product.id
        WHERE
            uid=#{uid}
        ORDER BY
            t_cart.created_time
        DESC
    </select>

</mapper>